<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-auto border-right border-bottom">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown " id="dropdownBasic1" ngbDropdownToggle>Sortiere</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="sort(0)">nach Relevanz</button>
            <button ngbDropdownItem (click)="sort(1)">nach Empfehlung</button>
            <button ngbDropdownItem (click)="sort(2)">nach Komplexität</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
      <h5>
        <b>
          Setze Filter:
        </b>
      </h5>
      <hr>
      <div class="form-group row">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" #tagName
                   (keyup.enter)="addTag(tagName.value)" [ngbTypeahead]="searchTag"
                   (focus)="focus$.next($event.target.value)"
                   (click)="click$.next($event.target.value)"
                   #instance="ngbTypeahead"
            >
            <span class="input-group-append">
             <button
               type="button"
               class="btn btn-primary"
               (click)="addTag(tagName.value)">+</button>
            </span>
          </div>
        </div>
      </div>
      <p>
        <ngb-alert *ngIf="selTag?.invalid" [dismissible]="false" type="danger">
          <strong>{{selTag?.value}}</strong> ist kein gültiger Tag!
        </ngb-alert>
      </p>
      <div formArrayName="filTags" class="bottom-buffer">
        <div *ngFor="let tag of filTags.controls; let i=index">
          <!-- The repeated tag template -->
          <div class="row">
            <div class="col">
              <div class="input-group">
                <div class="input-group ">
                  <input class="form-control py-2 border-right-0" [formControlName]="i">
                  <span class="input-group-append">
                    <div class="input-group-text">
                      <i (click)="removeFilterTag(i)" class="fa fa-times deleteTag"></i>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-buffer">
        <div class="col form-group">
          <label for="relevance">Minimale Relevanz</label>
          <ngb-rating
            id="relevance"
            class="form-control"
            formControlName="relevance"
          >
          </ngb-rating>
        </div>
      </div>
      <div class="row bottom-buffer">
        <div class="col form-group">
          <label for="recommendation">Minimale Empfehlung</label>
          <ngb-rating
            id="recommendation"
            class="form-control"
            formControlName="recommendation"
          >
          </ngb-rating>
        </div>
      </div>
      <div class="row bottom-buffer">
        <div class="col form-group">
          <label for="complexity">Maximale Komplexität</label>
          <ngb-rating
            id="complexity"
            class="form-control"
            formControlName="complexity"
          >
          </ngb-rating>
        </div>
      </div>

      <div class="row bottom-buffer">
        <div class="col text-left">
          <button class="btn btn-primary"
                  type="submit">
            Filter anwenden
          <i class="fa fa-filter icon" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
    <button *ngIf="filterActive" class="btn btn-primary" (click)="removeFilter()" #test>Filter entfernen</button>
    <hr>
  </div>
  <div class="col-lg-10 col-md-8 col-sm">
    <ul class="list-group">
      <app-technology-item *ngFor="let technology of technologies | searchPipe: searchValue"
                       [technology]="technology"
                       [technologyId]="technology.id"
      ></app-technology-item>
    </ul>
  </div>
</div>
