<div class="row d-flex justify-content-center ">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <div class="col">
      <div class="row">
        <h1>
          {{ selectedTechnology?.name }}
        </h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h5>Beschreibung:</h5>
        <p>{{ selectedTechnology?.description}}</p>
      </div>
    </div>
    <hr>
    <div class="row bottom-buffer">
      <div class="col">
        <h5>Relevanz:</h5>
        <ngb-rating readonly="true" [rate]=selectedTechnology?.relevance></ngb-rating>
        <h5>Empfehlung:</h5>
        <ngb-rating readonly="true" [rate]=selectedTechnology?.recommendation></ngb-rating>
        <h5>Komplexität:</h5>
        <ngb-rating readonly="true" [rate]=selectedTechnology?.complexity></ngb-rating>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Offizielle Website:</h5>
        <a href='{{selectedTechnology?.url}}'>{{selectedTechnology?.url}}</a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        <h5>Tags:</h5>
        <ul class="list tagList" *ngFor="let tag of selectedTechnology?.tags">
          <li class="list-group-item tagElement">
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col text-left">
        <button class="btn btn-primary text-left" (click)="onEdit()">Bearbeiten</button>
      </div>
      <div class="col text-right">
       <button class="btn btn-danger" (click)="onDelete(selectedTechnology)">Löschen</button>
      </div>
    </div>
  </div>
 </div>
